<style>
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
</style>
<div ng-controller="ClassController">
    <div class="row">
      <div class="col-md-10">
        <section class="widget">
          <div>
            <h1 ng-if="!editing">Create Class</h1>
            <h1 ng-if="editing">{{class.name}}: Edit Class</h1>
              <form class="form-inline" role="form" name="classform" novalidate>
                <div class="form-group">
                  <input ng-if="!editing" ng-minlength=1 type="text" class="form-control" ng-model="class.name" placeholder="Class Name..." required>
                  <button ng-if="!editing" class="btn btn-default" ng:click="createClass()">Create Class</button>
                  <button ng-if="editing" class="btn btn-default" ng:click="createClass()">Submit</button>
                </div>
              </form>
                <br />
                <form class="form-inline" role="form" name="studentform" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" ng-model="student.email" placeholder="Student Email..." required>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-minlength=1 class="form-control" ng-model="student.fname" placeholder="Student First Name..." required>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-minlength=1 class="form-control" ng-model="student.lname" placeholder="Student Last Name..." required> 
                    </div>
                    <button class="btn btn-default" ng:click="addStudent()">Add Student</button>
                    </form>
                    <div class="row">
                        <div class="col-md-10">
                            <ul class="list-group">
                              <li class="list-group-item" ng-repeat="student in class.students">{{ student.fname }} {{ student.lname }} - {{ student.email }}</li>
                            </ul>
                        </div>
                    </div>
          </div>
        </section>
      </div>
      
    </div>

    

{{ class }}
</div>

