<div ng-controller="ClassController">
	

<div class="row">
		<div class="col-md-8">
			<section class="widget">
				<header>
              <h4 style="float:left;font-size:24px;">Classes</h4>
              <a style="float:right"href="#/class-form" class="btn btn-large btn-primary pull-right">Create Class</a>
				</header>
				<div style="margin-top: 40px;"class="body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="c in classList">
							<a style="color:white;" href="#/classes/{{ c.cid }}">{{ c.name }}</a>
              				<a class="pull-right" href="#/classes/{{ c.cid }}/edit"><i class="fa fa-cog"></i></aZz>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>