  <div class="row">
	<div class="col-md-8">
		<section class="widget">
			<header>
          		<h2 style="float:left;">{{className}}: {{quiz.title}} Grades</h2>
          		<span><br/><br/>Average: {{grades.avg}}<br/>Max: {{grades.max}}<br/>Min: {{grades.min}}</span>
			</header>
			<div style="margin-top: 40px;"class="body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="(sname, grade) in grades.studentGrades">{{ sname }} - {{ grade | gradeNA }}
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>

