<link href="/static/slides.css" rel="stylesheet" media="screen">
<div id="slides" ng-controller="QuizController">
	
	
	<div ng-class="{active: current==-1}" class="slide">
		<center><h1>{{ quiz.title }}</h1></center>
		<br />
		<br />
		<center><button class="btn btn-primary btn-lg" ng-click="startQuiz()">Start Quiz</button></center>
	</div>
	<div ng-repeat="question in quiz.questions" >
		<div ng-class="{active: current==$index}" class="slide">
			<h1>{{ question.text }}</h1>
			<div ng-repeat="answer in question.answers">
				<p>{{ $index | abc }} - {{ answer }}</p>
				
			</div>
			<center><button class="btn btn-primary btn-lg" 
			ng-class="{true: 'active-btn', false: 'inactive-btn'}[!$last]" ng-click="nextQuestion()">Next Question</button></center>
			<center><button class="btn btn-primary btn-lg" 
			ng-class="{true: 'active-btn', false: 'inactive-btn'}[$last]" ng-click="endQuiz()">End Quiz</button></center>
		</div>
		
	</div>
	
	
	

</div>
