.container {
	padding-top: 70px;
    font-size: 16px;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 14pt;
  }

  h1 {
    padding-top: 40px;
    font-family: "Oswald";
    font-weight: 300;
  }