
  html {
    background: url(/static/perfect-op.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  body {
    height: 100%;
    background: transparent;
  }

  .container {
    text-align: center;
    width: 75%;
    font-size: 16px;
    font-family: "Oswald";
    font-weight: 300;
    background-color: #ffffff;
    opacity: 0.6;
    border: 1px solid black;
  }

  .navbar {
    padding-right: 20px;
    background: rgba(0,0,0,0);
    border: 0;
  }

  .vertical-offset-100 {
    padding-top: 100px;
  }

  .panel {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .checkbox {
    color: black;
    font-size: 16px;
  }

  h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 60;
  }

  h2 {
    font-weight: normal;
    font-size: 32;
    font-family: "Oswald";
  }

  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
  }

  #push,
  #footer {
    height: 120px;
    color: white;
  }

  @media (max-width:767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
