<html>
<head>
<title>Wookiee</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
<link href="/static/styles.css" rel="stylesheet" type="text/css">

</head>
<body>
<div id="wrap">
  <nav class="navbar transparent navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display
         Use for teacher
    -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
    <<<if .>>>
    <div class="btn-group navbar-right navbar-btn">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <<<.Email>>><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/dashboard/">Dashboard</a></li>
        <li><a href="/logmeout">Logout</a></li>
      </ul>
    </div>
    <<<else>>>
    <a href="/login" class="btn btn-primary navbar-btn navbar-right">Login</a>
    <<<end>>>
  </nav>
  <!--other stuff -->
  <h1>Wookiee</h1>
  <div class="container">
    <div>  
      <h2>Wookie gives teachers the ability to admisister quizzes and get instantaneous feedback from their students.</h2>
      <br>
      <h2>To Get Started:</h2>
      <h2>Teachers register and start creating your quizzes!</h2>
      <h2>Students download the mobile app and start taking quizzes!</h2>
    </div>
  </div>
  <div id="push"></div>
</div>
<div id="footer">
    <p>These are the quizzes you've been looking for</p>
</div>
</body>
</html>
